body {
  margin: 0;
  padding: 0;
  font-family: $font-family--primary;
}

%layout {
  max-width: 100%;
  padding: map-get($layout-padding, 'mobile');

  @include breakpoint($tablet) {
    padding: map-get($layout-padding, 'tablet');
  }

  @include breakpoint($desktop) {
    max-width: $tablet;
    padding: map-get($layout-padding, 'desktop');
  }

  @include breakpoint($desktop-hd) {
    max-width: $desktop;
    padding: map-get($layout-padding, 'desktop-hd');
  }
}

.layout-main {
  max-width: $desktop-hd;
}

.container {
  @include container;

  @extend %layout;
}
